table{
  width: 100%;
  text-align: center;
}

tr{
  width: 100%;
}

th{
  width: 10%;
  border-top: 0;
  border-bottom: 0;

  border-color: black;
  border-style: solid;
}

td{
  width: 10%;
  border-bottom: 0;
  border-right: 0;
  border-color: black;
  border-style: solid;
}
